---
layout: default
permalink: /
modal: all
---

 {% include hero.html %}

 {% include about.html %}

 {% include why-attend.html %}

 {% comment %}
 {% include main-partner-banner.html %}
 {% endcomment %}

 {% comment %}
 {% include rockstar-speakers.html %}
 {% endcomment %}

 {% include past-speakers.html %}

 {% include local-speakers.html %}

 {% comment %}
 {% include last-edition.html %}
 {% endcomment %}

{% include last-editions2.html %}


 {% comment %}
 {% include latest-news.html %}

 {% include twitter-feed.html %}
 {% endcomment %}

 {% comment %}
 {% include location-map.html %}
 {% endcomment %}


 {% comment %}
 {% include schedule.html %}
 {% endcomment %}


 {% comment %}
 {% include partners.html %}
 {% endcomment %}

 {% comment %}

 {% include subscribe.html %}

 {% include tickets.html %}
 {% endcomment %}

 {% include tickets-2.html %}
