---
layout: default
permalink: /
modal: all
---

 {% include hero.html %}

 {% include about.html %}
 {% comment %}
 {% include jit.html %}
 {% endcomment %}

 {% include rockstar-speakers.html %}

 {% comment %}
 {% include latest-news.html %}

 {% include twitter-feed.html %}
 {% endcomment %}

 {% comment %}
 {% include location-map.html %}
 {% endcomment %}

 {% include venue.html %}

 {% include schedule.html %}

 {% include last-edition.html %}

 {% include partners.html %}
 {% comment %}

 {% include subscribe.html %}

 {% include tickets.html %}

 {% include tickets-2.html %}
 {% endcomment %}
