<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <div id="leaflet-map" class="leaflet-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-2 col-md-3 col-sm-4 col-md-offset-1 animated hiding location-description text-center" data-animation="fadeInLeft" data-delay="0">
            <h3>{{ site.locationBlockTitle }}</h3>
            <ul>
                <li>Hotel Bristol Tradition &amp; Luxury</li>
                <li>Mikołaja Kopernika 12, Rzeszów</li>
            </ul>
        </div>
    </div>

    <script>
        (function() {
            var lat = 50.0382509;
            var lng = 22.004591;

            var map = L.map('leaflet-map', {
                zoomControl: false,
                scrollWheelZoom: false,
                dragging: !L.Browser.mobile
            }).setView([lat, lng], 16);

            L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                subdomains: 'abcd',
                maxZoom: 20
            }).addTo(map);

            var markerIcon = L.divIcon({
                className: 'custom-marker',
                html: '<div class="marker-pin"></div>',
                iconSize: [30, 42],
                iconAnchor: [15, 42]
            });

            L.marker([lat, lng], {icon: markerIcon})
                .addTo(map)
                .bindPopup('<strong>Hotel Bristol Tradition & Luxury</strong><br>Mikołaja Kopernika 12, Rzeszów');
        })();
    </script>
</section>
<!-- End Location Section -->
