<!-- Begin Rockstar Speakers Section -->
<section id="rockstar-speakers" class="rockstar-speakers image-section lazy">
	<div class="overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			<h3 id="rockstar-speaker-title" class="rockstar-speaker-title">Zostaw Feedback</h3>

<!--			<span class="bordered">-->
<!--				<a href="{{ site.baseurl }}/speakers/" class="bottom-section-link waves-effect waves-button waves-light">{{ site.rockstarSpeakersButtonText }}</a>-->
<!--            </span>-->

			<div class="col-md-4 col-xs-12 rockstar-speakers-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="-6500">
				<div class="rockstar-speaker">
					<a href="https://forms.gle/1NWRqTEwcoGXqMkX6">
						<div class="flow-img rockstar-speaker-img lazy" style="background: url(/img/sprites/logos.svg) no-repeat center center fixed"></div>
						<div class="name">CRAFT-IT</div>
						<div class="session">
							<div class="content"> Zostaw feedback dla nas! </div>
						</div>
						<div class="more"> zostaw feedback </div>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
</section>
<!-- End Rockstar Speakers Section -->
