<!-- Begin Speakers List 2-->
<section id="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 appear-animation-trigger">
            {% for speaker in site.data.speakers %}
                <div class="rockstar-speaker">
                    <div class="flow-img rockstar-speaker-img lazy" style="background-image: url({{ rockstarSpeakers[i].image }})"></div>
                    <div class="name">speaker.name</div>
                    <div class="session">
                        <div class="content"> TITLE PLACEHOLDER </div>
                    </div>
                    <div class="more">Zostaw feedback</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Speakers List 2 -->
