.community {
    min-height: 300px;

    h3 {
        color: white;
        margin-bottom: 20px;
    }

    .community-text {
        color: white;
        font-size: 22px;
        line-height: 1.5em;
        margin-bottom: 30px;
    }

    .btn {
        font-size: 18px;
        padding: 12px 30px;
    }
}
