.top-section-hero {
  width: 100%;
  height: 100%;
  padding-top: 0;
  background-position: right top;
  background-size: auto;
  background-repeat: no-repeat;

  .jumbotron {
    position: relative;
    margin: 0;
    left: 0;

    .btn {
      margin: 0 3px;
    }

    h1 {
    }
  }

  .content-icons {
   // background: url("/img/sections-background/hero.png") no-repeat right top;
    top: 111px;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: top right;
    @media (min-width: 1101px) and (max-width: 1200px) {
      transform: scale(0.9);
    }
    @media (min-width: 993px) and (max-width: 1100px) {
      transform: scale(0.8);
    }    
    @media (max-width: 992px) {
      transform: scale(0.7);
    }
    @media (max-width: 500px) {
      transform: scale(0.6);
    }
    @media (max-width: 440px) {
      transform: scale(0.5);
    }

    @media (max-width: 768px) {
      top: 72px;
    }
    
    .big-circle {
      background: url("/img/sections-background/hero.png") no-repeat right top;;
      right: 0px;
      top: 0px;
      width: 581px;
      height: 683px;
      position: absolute;
    }
    
    .icon-circles {
      background: url("/img/sections-background/icons/group-34.png") no-repeat;
      right: 424px;
      top: 472px;
      width: 271px;
      height: 271px;
      position: absolute;
    }

    .icon-heroes {
      background: url("/img/sections-background/icons/group-10.png") no-repeat;
      right: 73px;
      top: 192px;
      width: 587px;
      height: 587px;
      position: absolute;
    }

    .content-icon {
      position: absolute;

      &.icon1 {
        background: url("/img/sections-background/icons/group-18-2.png") no-repeat;
        right: 52px;
        top: 141px;
        height: 66px;
        width: 66px;
      }

      &.icon2 {
        background: url("/img/sections-background/icons/group-2.png") no-repeat;
        right: 541px;
        top: 175px;
        height: 49px;
        width: 49px;
      }

      &.icon3 {
        background: url("/img/sections-background/icons/group-8.png") no-repeat;
        right: 341px;
        top: 195px;
        height: 76px;
        width: 76px;
      }

      &.icon4 {
        background: url("/img/sections-background/icons/group-19.png") no-repeat;
        right: 149px;
        top: 324px;
        height: 49px;
        width: 49px;
      }

      &.icon5 {
        background: url("/img/sections-background/icons/group-18.png") no-repeat;
        right: 52px;
        top: 558px;
        height: 66px;
        width: 66px;
      }

      &.icon6 {
        background: url("/img/sections-background/icons/group-31.png") no-repeat;
        right: 210px;
        top: 663px;
        height: 93px;
        width: 93px;
      }

      &.icon7 {
        background: url("/img/sections-background/icons/group-32.png") no-repeat;
        right: 590px;
        top: 518px;
        height: 49px;
        width: 49px;
      }

      &.icon8 {
        background: url("/img/sections-background/icons/group-33.png") no-repeat;
        right: 663px;
        top: 615px;
        height: 49px;
        width: 49px;
      }

      &.icon9 {
        background: url("/img/sections-background/icons/group-12.png") no-repeat;
        right: 575px;
        top: 705px;
        height: 49px;
        width: 49px;
      }

      &.icon10 {
        background: url("/img/sections-background/icons/group-7.png") no-repeat;
        right: 520px;
        top: 625px;
        height: 49px;
        width: 49px;
      }
    }
  }

  .content-hero {
    text-align: left;
    padding: 200px 0 0 145px;

    @media (max-width: 500px){
      margin-top: 370px;
    }
    @media (max-width: 992px){
      text-align: center;
      margin-top: 450px;
      padding: 200px 65px;

      div {
        max-width: 100%;
      }
      .title {
        word-spacing: normal;
        font-size: 38px;
      }
      .date {
        font-size: 30px;
        margin-top: 10px;
      }
    }
    
    @media (max-width: 1300px) {

      padding: 200px 0 0 45px;
      
      .title {
        font-size: 43px;
      }

      .date {
        font-size: 35px;
      }

      .place {
        font-size: 22px;
      }

      .buy-button {
        font-size: 18px;
      }
    }
    
    @media (min-width: 993px) and (max-width: 1300px) {
      div {
        max-width: calc(100% - 600px);
      }
   
    }
    
    .title {
      word-spacing: 9999999px;
      font-family: "Montserrat Bold";
      font-size: 63px;
      font-weight: bold;
      color: #373737;
    }

    .date {
      font-family: "Montserrat Bold";
      font-size: 41px;
      font-weight: bold;
      color: #096ab4;
      margin-top: 52px;
    }

    .place {
      color: #5b5b5b;
      line-height: 1.82;
      font-family: LatoWeb;
      font-size: 22px;
    }

    .buy-button {
      line-height: 1.82;
      color: #fff;
      font-family: LatoWeb;
      font-size: 22px;
      border-radius: 38px;
      margin-top: 38px;
    }
  }

}

.typeout-fallback {
  display: none;
  @media (max-width: 767px) {
    display: inline-block;
  }
}

.explore {
  margin-left: -16px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  animation: callToAction 3.5s linear 0s infinite;
  @media (max-width: 767px) {
    margin-left: -12.5px;
    bottom: 30px;
    animation: none;
  }
}

.icon-arrow-down {
  width: 32px;
  height: 32px;
  fill: #373737;
  @media (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}

@keyframes callToAction {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 0;
    transform: translateY(-16px);
  }
}
