#jit {
}

.jit{
    .separator {
        background-color: #fafafa;
        min-height: 50px;
    }
    .banner {
        vertical-align: left;
        text-align: left;

        background-repeat: no-repeat;
        background-position: center;
        background-size:  contain;
        height: 150px;
    }

}
