#mainPartnerBanner {
}

.main-partner-banner {
    .separator {
        background-color: #f7f5f5;
        min-height: 50px;
    }
    .banner {
        vertical-align: left;
        text-align: left;

        background-repeat: no-repeat;
        background-position: center;
        background-size:  contain;
        background-color: #f7f5f5;
        height: 150px;
    }

}
