.partners  {
    h5 {
       margin-top: 30px;
    }
    .list-inline {
        margin-bottom: 65px;
        li {
            width: 16%;
            max-width: 180px;
            margin: 15px 25px;
            @media (max-width: 767px) {
                width: 40%;
                max-width: 160px;
            }
            &.special{
                width: 30%;
                //max-width: 30%;
                max-width: 335px;
                @media (max-width: 767px) {
                    width: 50%;
                    max-width: 50%;
                }
            }
            &.special-2{
                width: 25%;
                max-width: 300px;
                @media (max-width: 767px) {
                    width: 40%;
                    max-width: 40%;
                }
            }
            &.special-3{
                width: 100%;
                max-width: 100%;
                @media (max-width: 767px) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    img {
        width: 100%;
        transition: $base-transition;
    }
}
