$rockstar-image-size: 239px;
$small-rockstar-image-size: 200px;

.rockstar-speakers {
    background-color: #fafafa;

    .rockstar-speaker {
        width: 100%;
        max-width: 280px;
        height: 440px;
        padding: 0 0 14px;
        border-radius: 11px;
        background-color: #fff;
        margin: auto auto 55px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    .rockstar-speakers-item {
        @media (max-width: 767px) {
            width: 50% !important;
            padding: 0 5px;
        }
    }

    .name {
        font-family: 'Montserrat Bold';
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        color: #373737;
        word-spacing: 9999999px;
        padding-top: 23px;
        padding-bottom: 23px;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }

    .session {
        text-align: center;
        margin: 10px 20px;
        .content {
            font-family: 'LatoWeb';
            font-size: 21px;
            line-height: 1.36;
            color: #5b5b5b;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 142px;
        }
    }

    .more {
        cursor: pointer;
        font-family: "LatoWeb";
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #046ab4;
        position: absolute;
        left: 50%;
        bottom: 60px;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        text-decoration: underline;
    }
    .sub {
        font-size: $base-font-size * 1.4;
        margin: 0 0 15px;
        color: $link-color;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
}
.rockstar-speaker {
    padding-bottom: 13px;
}
.rockstar-speaker-img {
    cursor: pointer;
    height: $rockstar-image-size;
    margin: 0 auto;
    border-radius: 11px;
    @media (max-width: 767px) {
        height: $small-rockstar-image-size;
    }
}
